{% extends "base.html" %}

{% block content %}
<div class="box">
  <h1 class="title">Problems</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Submit</th>
    </tr>
    </thead>
    <tfoot>
      {% for id in problem_ids %}
      <tr>
        <td>{{ id }}</td>
        <td><a href="{{ url_for('main.submit', problem_id=id) }}">Submit</a></td>
      </tr>
      {% endfor %}
    </tfoot>
  </table>
</div>
{% endblock %}
