{% extends "base.html" %}

{% block content %}
<div class="box">
  <h1 class="title">Reports</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Solution</th>
        <th>Submitted</th>
        <th>Problem</th>
        <th>Status</th>
      </tr>
    </thead>
    <tfoot>
      {% for report in reports %}
      {% set ok = report.tests_overall == report.tests_passed %}
      {% set wa = not ok %}
      <tr>
        <td><a href="{{ url_for('main.report', solution_id=report.solution_id) }}">{{ report.solution_id }}</a></td>
        <td>{{ report.submitted.strftime("%Y-%m-%d %H:%m") }}</td>
        <td><a href="{{ url_for('main.submit', problem_id=report.problem_id) }}">{{ report.problem_id }}</a></td>
        <td style="background-color: 
                    {% if ok %} 
                      hsl(141, 53%, 53%)
                    {% elif wa %}
                      hsl(348, 100%, 61%)
                    {% endif %}">
          {% if ok %}
            Success
          {% elif wa %}
            Wrong Answer
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tfoot>
  </table>
</div>
{% endblock %}
