{% extends "base.html" %}

{% block content %}
<div class="box">
    <h1 class="title">Solution Report</h1>
    <table>
      <tfoot>
        <tr>
          <td>Solution</td>
          <td>{{ report.solution_id }}</td>
        </tr>
        <tr>
          <td>Problem</td>
          <td><a href="{{ url_for('main.submit', problem_id=report.problem_id) }}">{{ report.problem_id }}</a></td>
        </tr>
        <tr>
          <td>Tests overall</td>
          <td>{{ report.tests_overall }}</td>
        </tr>
        <tr>
          <td>Tests passed</td>
          <td>{{ report.tests_passed }}</td>
        </tr>
      </tfoot>
    </table>
</div>
{% endblock %}
