{% extends "base.html" %}

{% block content %}
<div class="column is-half is-offset-one-quarter">
  <div class="box">
    <h1 class="title">Submit</h1>
    <form method="POST" action="{{ url_for('main.submit', problem_id=form.problem_id.data) }}">
      {{ form.csrf_token }}
      <div class="field">
        {{ form.problem_id.label(class="label") }}
        <div class="control">
          {{ form.problem_id(class="input") }}
        </div>
      </div>
      <div class="field">
        {{ form.language.label(class="label") }}
        <div class="control">
          <div class="select">
            {{ form.language }}
          </div>
        </div>
      </div>
      <div class="field">
        {{ form.source_code.label(class="label") }}
        <div class="control">
          {{ form.source_code(class="textarea", rows="20", cols="50") }}
        </div>
      </div>
      <div class="field">
        <input class="button is-primary" type="Submit" value="Submit">
      </div>
    </form>
  </div>
</div>
{% endblock %}
