{% extends "base.html" %}
{% block content %}
<div class="column is-half is-offset-one-quarter">
  <div class="box">
    <h1 class="title">Sign In</h1>
    <form action="{{ url_for('auth.login') }}" method="post">
      {{ form.csrf_token }}
      <div class="field">
        {{ form.login.label(class="label") }}
        <div class="control">
          {{ form.login(class="input") }}
        </div>
      </div>
      <div class="field">
        {{ form.password.label(class="label") }}
        <div class="control">
          {{ form.password(class="input") }}
        </div>
        {% if form.password.errors %}
        <p class="help is-danger">{{ form.password.errors[0] }}</p>
        {% endif %}
      </div>
      <div class="field">
        <input class="button is-primary" type="submit" value="Login">
      </div>
    </form>
  </div>
</div>
{% endblock %}
