<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
</head>
<body>
  {% block navbar %}
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <img src="{{ url_for('static', filename='icon.jpeg') }}" width="60" height="60">
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ url_for('main.problems') }}">Problems</a>
        <a class="navbar-item" href="{{ url_for('main.reports') }}">Reports</a>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if not anon %}
            <a href="{{ url_for('auth.logout') }}" class="button is-light">
              Log out
            </a>
            {% else %}
            <a href="{{ url_for('auth.login') }}" class="button is-light">
              Login
            </a>
            <a href="{{ url_for('auth.register') }}" class="button is-primary">
              Register
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>
  {% endblock %}
  <div class="container" id="content">
    {% block content %}
    {% endblock %} 
  </div>
</body>
</html>
